// Responsive design
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

@mixin avatar($size, $circle: false, $centered: false) {
    height: $size;
  
    @if $centered {
      display: block;
      margin: 0 auto;
    }
  
    @if $circle {
      border-radius: 50%;
    }
}

@mixin popup($width, $height, $background-color) {
    width: $width;
    height: $height;
    background-color: $background-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin extra-small {
    @media (max-width: #{$small-width - 1px}) {
        @content;
    }
}

@mixin small-down {
    @media (max-width: #{$medium-width - 1px}) {
        @content;
    }
}

@mixin small-only {
    @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
      @content;
    }
}

@mixin small-up {
    @media (min-width: #{$small-width}) {
        @content;
    }
}

@mixin medium-only {
    @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
        @content;
    }
}

@mixin medium-up {
    @media (min-width: #{$medium-width}) {
        @content;
    }
}

@mixin medium-down {
    @media (max-width: #{$medium-width}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large-width}) {
        @content;
    }
}