@import "_config.scss";
@import "_mixins.scss";
@import "_geometry.scss";

@font-face {
  font-family: "JetBrains";
  src: url("/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf") format("truetype"),
       url("/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2");
}

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#animation {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -900;
  max-width: 100% !important;
  max-height: 100% !important;
}

#container {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
  opacity: 0;
}

#welcome {

  @include medium-up {
    @include popup(400px, 400px, #2a2a2a);
    p {
      font-size: 12pt;
    }
    .main-title {
      font-size: 14pt !important;
    }
  }

  @include medium-down {
    @include popup(300px, 300px, #2a2a2a);
    p {
      font-size: 10pt;
    }
    .main-title {
      font-size: 12pt !important;
    }
  }

  p {
    font-family: "JetBrains";
    line-height: 1.6;
    text-align: center;
    margin: 65% 30px 0 30px;
    color: white;
  }

  border-radius: 40px;
}

#inner-welcome {
  @include medium-up {
    @include popup(350px, 350px, #2a2a2a);
  }

  @include medium-down {
    @include popup(250px, 250px, #2a2a2a);
  }

  img {
    @include avatar(50%, true, true);
    border: 0.2rem white solid;
    margin-top: 10px;
  }

  background-color: transparent !important;
  border: 1px white solid;
  border-radius: 40px;
  z-index: 10;
}